

/* ===== Primary Styles ========================================================
Author: Interdi Developers
========================================================================== */

/* 
* Tools
*******************/
@import url('../css/tools.css');
@import url('../css/animate.min.css');


/* 
* Fonts (import please)
*******************/
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 
* Layout
*******************/
* { -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }

html { -webkit-font-smoothing: antialiased;}
body { font-family: 'ProximaNovaRegular'; }

#page-wrapper { width: 480px; height: 320px; position: relative; overflow: hidden; }
#page-container { width: 480px; height: 320px; position: absolute; overflow: hidden; }

.page { height: 320px; width: 480px; position: relative; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition-duration: .25s; transition-duration: .25s; }
#app { background: url('../images/bg.png') no-repeat 0 0; }
.bg { background: url('../images/bg.png') no-repeat 0 0; width: 480px; height: 320px;  }

#wheel { background: url('../images/wheel.png') no-repeat left top; width: 331px; height: 332px; position: absolute; left: 50%; margin-left: -180px; bottom: -130px; z-index: 10; }
#signal { background: url('../images/signal.png') no-repeat left top; width: 167px; height: 39px; position: absolute; left: 0; bottom: 65px; z-index: 9; }
#handbrake { background: url('../images/handbrake.png') no-repeat left top; position: absolute; width: 23px; height: 18px; left: 50%; margin-left: -28px; bottom: 154px; z-index: 11; }
.arrow { background: url('../images/arrow.png') no-repeat left top; width: 21px; height: 20px; position: absolute; bottom: 97px; }
.arrow.left { background-position: 0 0; left: 132px; }
.arrow.left.active { background-position: 0 -19px; }
.arrow.right { background-position: -26px 0; right: 167px; }
.arrow.right.active { background-position: 0 -19px; }
#corn { width: 130px; height: 100px; margin: 110px auto 0; border-radius: 30px; }
.ui-loader { display: none; }